@using EMSuiteVisualConfigurator.Client.Components;
@using EMSuiteVisualConfigurator.Shared.Models
@using Microsoft.JSInterop
@inject IJSRuntime JS;

@page "/configuration"
<div class="container-fluid">
	@foreach (Site site in sites){
		<SiteComponent display=@site.display/>
	}
	<div class="row no-gutters" style="width: 100%">
		@foreach (Site site in sites){
		<button @onclick="()=> switchSite(site)" class="w-auto">Site</button>
	}
		<button class="w-auto" @onclick="addSite">+</button>
	</div>
</div>


@code {


	public class Site{
		public string display = "none";

		public Site(string display){
			this.display = display;
		}
	}
	public static IList<Site> sites = new List<Site>() { new Site("inline") };
	public static Site active = sites[0];

	public void addSite(){
		Site newSite = new Site("inline");
		sites.Add(newSite);
		deactivateCurrentSite();
		active = newSite;
	}
	public void deactivateCurrentSite(){
		active.display = "none";
	}

	public void activateSite(Site site){
		active = site;
		site.display = "inline";
	}

	public void switchSite(Site site) {
		deactivateCurrentSite();
		activateSite(site);
	}
}
