@using EMSuiteVisualConfigurator.Client.Components;
@using EMSuiteVisualConfigurator.Shared.Models
@using Microsoft.JSInterop
@inject IJSRuntime JS;

@page "/configuration"

<PageTitle>EMSuite Visual Configurator</PageTitle>
<CascadingValue Value="@ImageFile">
<div class="container-fluid">
        <div class="row justify-content-center align-items-center py-2 topbar">
            <TopBarComponent OnUploadImage="UploadImage" />
        </div>
        <div class="row maincontent" >
            <IconMenuComponent>
                @foreach (Item item in items){
                <SensorComponent/>
            }

            </IconMenuComponent>        
            <SiteCanvasComponent/>
        </div>
    </div>
</CascadingValue>


@code {
    private ImageFile ImageFile { get; set; } = new ImageFile();

    private void UploadImage(ImageFile imageFile) {
        ImageFile = imageFile;
        StateHasChanged();
    }

    private DotNetObjectReference<EMSuiteConfiguration>? objRef;
    protected override void OnInitialized()
    {
        objRef = DotNetObjectReference.Create(this);
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await JS.InvokeVoidAsync("dragAndDrop", ".draggable", objRef);
    }

    public static IList<Item> items = new List<Item>() { new SensorItem() };

    public class Item
    {
        public static int idCount = 0;

        public Item()
        {
            idCount++;
        }
    }

    class SensorItem : Item
    {
        int id;
        public SensorItem()
        {
            id = Item.idCount;
        }
    }

    class AccessItem : Item
    {
        int id;
        public AccessItem()
        {
            id = Item.idCount;
        }
    }

    class ZoneItem : Item
    {
        int id;
        public ZoneItem()
        {
            id = Item.idCount;
        }
    }

    [JSInvokable]
    public static void addItem(DotNetObjectReference<EMSuiteConfiguration>? objref)
    {
        items.Add(new SensorItem());
        objref.Value.StateHasChanged();
    }

}
