@using EMSuiteVisualConfigurator.Client.Components;
@using Microsoft.JSInterop
@inject IJSRuntime JS;

@page "/configuration"

<PageTitle>EMSuite Visual Configurator</PageTitle>
<h1>Configurator</h1>
<div class="container-fluid">
    <div class="row" >
        <IconMenuComponent>
            <SensorComponent/>
            <AccessPointComponent/>
        </IconMenuComponent>        
        <SiteCanvasComponent/>
    </div>
</div>
<ZoneComponent/>

@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await JS.InvokeVoidAsync("dragAndDrop", ".draggable");
        //await JS.InvokeVoidAsync("resize", ".resizable");
    }
}
