@using EMSuiteVisualConfigurator.Client.Components;
@using EMSuiteVisualConfigurator.Shared.Models
@using Microsoft.JSInterop
@inject IJSRuntime JS;

@page "/configuration"
<div class="container-fluid">
	@foreach (Site site in sites){
		<SiteComponent display=@site.display/>
	}
	<div class="row no-gutters" style="width: 100%">
		@foreach (Site site in sites){
			<div class="bg-secondary w-auto">
				<button @onclick="()=> switchSite(site)" class="btn btn-secondary w-auto">Site</button>
				@if (sites.Count != 1) {
					<button @onclick="()=> deleteSite(site)" class="btn btn-danger btn-circle delete-text">X</button>
				}
			</div>
		
		}

		<button class="w-auto" @onclick="addSite">+</button>
	</div>
</div>


@code {


	public class Site{
		public string display = "none";

		public Site(string display){
			this.display = display;
		}
	}
	public static IList<Site> sites = new List<Site>() { new Site("inline") };
	public static Site active = sites[0];

	public void addSite(){
		Site newSite = new Site("inline");
		sites.Add(newSite);
		deactivateCurrentSite();
		active = newSite;
	}
	public void deactivateCurrentSite(){
		active.display = "none";
	}

	public void activateSite(Site site){
		active = site;
		site.display = "inline";
	}

	public void switchSite(Site site) {
		deactivateCurrentSite();
		activateSite(site);
	}

	public void deleteSite(Site site){
		bool wasActive = site == active;
		sites.Remove(site);
		if(wasActive){
			switchSite(sites[0]);
		}
	}
}
