@using EMSuiteVisualConfigurator.Client.Components;
@using Microsoft.JSInterop
@inject IJSRuntime JS;

@page "/configuration"

<PageTitle>EMSuite Visual Configurator</PageTitle>
<div class="container-fluid">
    <div class="row justify-content-center align-items-center">
        <TopBarComponent />
    </div>
    <div class="row maincontent" >
        <IconMenuComponent>
            <SensorComponent/>
            <AccessPointComponent/>
            <ZoneComponent/>
        </IconMenuComponent>        
        <SiteCanvasComponent/>
    </div>
</div>


@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await JS.InvokeVoidAsync("dragAndDrop", ".draggable");
        //await JS.InvokeVoidAsync("resize", ".resizable");
    }
}
