@using EMSuiteVisualConfigurator.Application.DTOs
@using EMSuiteVisualConfigurator.Application.Features.EMSuiteConfigurations.Commands;
@using EMSuiteVisualConfigurator.Client.Components;
@using EMSuiteVisualConfigurator.Shared.Models
@using Microsoft.JSInterop
@inject IJSRuntime JS;

@page "/configuration"
<PageTitle>EMSuite Visual Configurator</PageTitle>
	<CascadingValue Value="@CreateEMSuiteConfigurationModel">
	<div class="container-fluid border border-2 border-dark">
		@foreach (SiteDTO site in CreateEMSuiteConfigurationModel.ConfigurationDTO.Sites)
		{
			<SiteComponent display=@site.Display siteId=@site.Id/>
		}
		<div class="row no-gutters" style="width: 100%">
			@foreach (SiteDTO site in CreateEMSuiteConfigurationModel.ConfigurationDTO.Sites)
			{
				<div class="bg-secondary w-auto">
					<button @onclick="()=> switchSite(site)" class="btn btn-secondary w-auto">Site</button>
					@if (CreateEMSuiteConfigurationModel.ConfigurationDTO.Sites.Count != 1)
					{
						<button @onclick="()=> deleteSite(site)" class="btn btn-danger btn-circle delete-text">X</button>
					}
				</div>
			}

			<button class="w-auto add-site" @onclick="addSite">+</button>
		</div>
	</div>
	</CascadingValue>


@code {
	public CreateEMSuiteConfigurationCommand CreateEMSuiteConfigurationModel { get; set; } = new CreateEMSuiteConfigurationCommand();
	public SiteDTO? ActiveSite { get; set; } = null;

	public void addSite(){
		SiteDTO newSite = new SiteDTO();
		CreateEMSuiteConfigurationModel.ConfigurationDTO.Sites.Add(newSite);
		deactivateCurrentSite();
		ActiveSite = newSite;
	}
	public void deactivateCurrentSite(){
		Console.WriteLine("asdasdasdasdas: " + ActiveSite);
		if (ActiveSite == null)
		{
			ActiveSite = CreateEMSuiteConfigurationModel.ConfigurationDTO.Sites[0];
		}
		//ActiveSite = CreateEMSuiteConfigurationModel.ConfigurationDTO.Sites[0];
		ActiveSite.Display = "none";
	}

	public void activateSite(SiteDTO site){
		ActiveSite = site;
		site.Display = "inline";
	}

	public void switchSite(SiteDTO site) {
		deactivateCurrentSite();
		activateSite(site);
	}

	public void deleteSite(SiteDTO site){
		bool wasActive = site == ActiveSite;
		CreateEMSuiteConfigurationModel.ConfigurationDTO.Sites.Remove(site);
		if(wasActive){
			switchSite(CreateEMSuiteConfigurationModel.ConfigurationDTO.Sites[0]);
		}
	}
}
