@using Microsoft.JSInterop
@inject IJSRuntime JS;

<div style="grid-column: 1; grid-row: 2; z-index: 1;" class="draggable" draggable="true" x="0" y="0" name="accesspoint" id="@Id">Access Point</div>


@code {
    [Parameter] public int Id { get; set; }
}