<div class="col-3 iconmenu">
    <div class="d-flex flex-column">
        <div class="p-4" style="display: grid;">
            @ChildContent
        </div>        
    </div>    
</div>

@code {
    [Parameter] public RenderFragment? ChildContent { get; set; }
    

}
