<div class="col-2 iconmenu">
    <div class="d-flex flex-column">
        <div class="p-4">
            @ChildContent
        </div>        
    </div>    
</div>

@code {
    [Parameter]
    public RenderFragment ChildContent { get; set; }
}
