@using Microsoft.JSInterop
@inject IJSRuntime JS;

<div class="col dropzone">
    <div>DropZone</div>
</div>


@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await JS.InvokeVoidAsync("dropZone", ".dropzone");
    }
}