@using EMSuiteVisualConfigurator.Shared.Models
@using Microsoft.JSInterop
@inject IJSRuntime JS;

<div class="col dropzone" id="siteCanvas">
    @if (FileBase64 != null)
    {
        <img src="data:@FileBase64.contentType;base64,@FileBase64.base64data" id="image"/>
    }
</div>


@code {
    [CascadingParameter] protected ImageFile? FileBase64 { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await JS.InvokeVoidAsync("dropZone", ".dropzone");
    }
}