@using Microsoft.JSInterop
@inject IJSRuntime JS;

<div class="dropzone">DropZone</div>


@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await JS.InvokeVoidAsync("dropZone", ".dropzone");
    }
}