@using EMSuiteVisualConfigurator.Application.DTOs
@using EMSuiteVisualConfigurator.Application.Features.EMSuiteConfigurations.Commands
@using EMSuiteVisualConfigurator.Client.Components;
@using EMSuiteVisualConfigurator.Shared.Models
@using Microsoft.JSInterop
@inject IJSRuntime JS;

<div style="display: @Display" name="site" id="@SiteId">
    <CascadingValue Value="items">
        <CascadingValue Value="@CreateEMSuiteConfigurationModel">
                <CascadingValue Value="@ImageFile">
                    <!--<div class="container-fluid">-->
                        <div class="row justify-content-center align-items-center py-2 topbar">
                            <TopBarComponent OnUploadImage="UploadImage" siteId=@SiteId/>
                        </div>
                        <div class="row maincontent">
                            <IconMenuComponent/>
                            <SiteCanvasComponent/>
                        </div>
                    <!--</div>-->
                </CascadingValue>
        </CascadingValue>
    </CascadingValue>
</div>


@code {
    public IList<ConfigurationItem> items = new List<ConfigurationItem>() { new LoggerDTO(), new AccessPointDTO(), new ZoneDTO() };
    public CreateEMSuiteConfigurationCommand CreateEMSuiteConfigurationModel { get; set; } = new CreateEMSuiteConfigurationCommand();
    [Parameter] public int SiteId { get; set; }
    [Parameter] public string Display { get; set; }
    private ImageFile ImageFile { get; set; } = new ImageFile();

    private void UploadImage(ImageFile imageFile)
    {
        ImageFile = imageFile;
        StateHasChanged();
    }   
}
