@using EMSuiteVisualConfigurator.Application.DTOs
@using EMSuiteVisualConfigurator.Application.Features.AccessPoints.Commands
@using EMSuiteVisualConfigurator.Application.Features.EMSuiteConfigurations.Commands
@using EMSuiteVisualConfigurator.CoreBusiness.Entities
@using EMSuiteVisualConfigurator.Shared.Models
@using System.Text.Json.Serialization
@inject HttpClient Http
@inject IJSRuntime JS

<div class="col-3 text-center upload-col">
	<h4>Upload Plan Drawing</h4>
    <div class="input-group" >
		<div class="custom-file" @onclick="Upload" disabled="@isDisabled">
			<InputFile class="custom-file-input" title=" " OnChange="OnChange" accept="image/png, image/jpeg, image/gif" id="inputFile"/>
		</div>		
	</div>
</div>

<div class="col-2"/>
	
<div class="col-2 sitename-col">
    <div class="input-group text-center">
        <input type="text" class="form-control" placeholder="Site @SiteId">
    </div>
</div>

<div class="col-2"/>

<div class="col-3 text-center demo-col">
    <button class="btn btn-success" @onclick="CreateConfiguration"> Generate Demo <span class="bi bi-play"></span></button>
</div>

@code {
	[CascadingParameter] public CreateEMSuiteConfigurationCommand CreateEMSuiteConfigurationModel { get; set; }
	[CascadingParameter] public IList<ConfigurationItem> items { get; set; }
	[CascadingParameter] public EMSuiteConfigurationDTO ConfigurationDTO { get; set; }
	[CascadingParameter] protected ImageFile FileBase64 { get; set; }
	[Parameter] public Action<ImageFile> OnUploadImage { get; set; }
	[Parameter] public int SiteId { get; set; }

	bool isDisabled = false;
	public List<LoggerDTO> allSensors = new List<LoggerDTO>();
	public List<AccessPointDTO> allAccessPoints = new List<AccessPointDTO>();
	public List<ZoneDTO> allZones = new List<ZoneDTO>();

	async Task CreateConfiguration() {
		CreateEMSuiteConfigurationModel.ConfigurationDTO = ConfigurationDTO;	

		RemoveIconMenuItems();
		foreach (ConfigurationItem item in items.ToArray())
		{
			if (item is LoggerDTO)
			{
				allSensors.Add((LoggerDTO)item);
			}
			if (item is AccessPointDTO)
			{
				allAccessPoints.Add((AccessPointDTO)item);
			}
			if (item is ZoneDTO)
			{
				allZones.Add((ZoneDTO)item);				
			}
		}
		LinkAndAddZones(CreateEMSuiteConfigurationModel.ConfigurationDTO);
		LinkAndAddAccessPoints(CreateEMSuiteConfigurationModel);
	}

	private async void LinkAndAddZones(EMSuiteConfigurationDTO configurationDTO)
	{
		//Get zones with its channels for each site
		for (int i = 0; i < configurationDTO.Sites.Count; i++)
		{
			var currentSiteId = configurationDTO.Sites[i].Id;
			var zonesLoggersDict = await JS.InvokeAsync<Dictionary<int, int[]>>("GetZonesAndLoggersIds", currentSiteId);
			int zoneCount = zonesLoggersDict.Count;
			Console.WriteLine("zoneCount " + zoneCount);
			var zoneIds = zonesLoggersDict.Keys.ToArray();
			List<ZoneDTO> zonesToLink = null;

			//Find the ChannelDTOs from the LoggerDTOs (sensors) which have the same Id as the channels from dict
			for (int j = 1; j < zoneCount; j++)
			{
				var loggerIds = zonesLoggersDict[j];
				List<LoggerDTO> loggers = allSensors.Where(sensor => loggerIds.Contains(sensor.Id)).ToList();
				for (int k = 0; k < loggers.Count; k++)
				{	
					//Link the ChannelDTOs from the loggersto the zone
					allZones[zoneIds[j]].Channels = loggers[k].Ports.ElementAt(0).Channels;
					//Assign the zones that should be linked to the site
					zonesToLink = allZones.Where(zone => zoneIds.Contains(zone.Id)).ToList();
				}
			}
			//Find correct Site and link the zones to it
			configurationDTO.Sites.ElementAt(currentSiteId).Zones = zonesToLink;
		}		
	}

	private async void LinkAndAddAccessPoints(CreateEMSuiteConfigurationCommand model)
	{
		List<AccessPointDTO> accessPointsToLink = null;

		//Get zones with its channels for each site
		for (int i = 0; i < model.ConfigurationDTO.Sites.Count; i++)
		{
			var currentSiteId = model.ConfigurationDTO.Sites[i].Id;
			var accessPointsLoggersDict = await JS.InvokeAsync<Dictionary<int, int[]>>("GetAccessPointsAndLoggersIds", currentSiteId);
			int accessPointCount = accessPointsLoggersDict.Count;
			var accessPointIds = accessPointsLoggersDict.Keys.ToArray();


			//Find the ChannelDTOs from the LoggerDTOs (sensors) which have the same Id as the channels from dict
			for (int j = 1; j < accessPointCount; j++)
			{
				var loggerIds = accessPointsLoggersDict[j];
				List<LoggerDTO> loggersToLink = allSensors.Where(sensor => loggerIds.Contains(sensor.Id)).ToList();
				//Link the LoggerDTOs to the AccessPointDTO
				allAccessPoints[accessPointIds[j]].Loggers = loggersToLink;
				//Assign the accessPoints that should be linked to the configurationModel
				accessPointsToLink = allAccessPoints.Where(accessPoint => accessPointIds.Contains(accessPoint.Id)).ToList();				
			}
			//Link the accessPoint to the configurationModel
			if (accessPointsToLink != null)
			{
				model.AccessPointDTOs.AddRange(accessPointsToLink);
			}
		}
	}

	private void RemoveIconMenuItems() {
		ConfigurationItem loggerToRemove = items.Where(item => item.Id == LoggerDTO.IdCount && item is LoggerDTO).ToArray()[0];
		ConfigurationItem accessPointToRemove = items.Where(item => item.Id == AccessPointDTO.IdCount && item is AccessPointDTO).ToArray()[0];
		ConfigurationItem zoneToRemove = items.Where(item => item.Id == ZoneDTO.IdCount && item is ZoneDTO).ToArray()[0];
		items.Remove(loggerToRemove);
		items.Remove(accessPointToRemove);
		items.Remove(zoneToRemove);
	}

	async Task OnChange(InputFileChangeEventArgs e)
	{
		var file = e.File; // get the files selected by the users
		var resizedFile = await file.RequestImageFileAsync(file.ContentType, 640, 480); // resize the image file
		var buf = new byte[resizedFile.Size]; // allocate a buffer to fill with the file's data
		using (var stream = resizedFile.OpenReadStream())
		{
			await stream.ReadAsync(buf); // copy the stream to the buffer
		};
		// convert to a base64 string!!
		FileBase64.base64data = Convert.ToBase64String(buf); 
		FileBase64.contentType = file.ContentType;
		FileBase64.fileName = file.Name;
		OnUploadImage?.Invoke(new ImageFile{base64data = FileBase64.base64data, contentType = FileBase64.contentType ,fileName = FileBase64.fileName});
	}	

	async Task Upload()
	{
		isDisabled = true;
		using (var msg = await Http.PostAsJsonAsync<ImageFile>("/api/upload", FileBase64, System.Threading.CancellationToken.None))
		{
			isDisabled = false;
		}
	}
	
}
