<div class="col-2 text-center upload-col">
    <button class="btn btn-info">Upload Plan Drawing</button>
</div>

<div class="col-3"/>

<div class="col-2 sitename-col">
    <div class="input-group text-center">
        <input type="text" class="form-control" placeholder="Site Name">
    </div>
</div>

<div class="col-3"/>

<div class="col-2 text-center demo-col">
    <button class="btn btn-success">Generate Demo</button>
</div>
@code {

}
