@using Microsoft.JSInterop
@inject IJSRuntime JS;

<div class="draggable zone" x="0" y="0" name="zone" id="@Id">Zone @InnerText</div>


@code {
    [Parameter] public string InnerText { get; set; }
    [Parameter] public int Id { get; set; }
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await JS.InvokeVoidAsync("dragResize", ".drag-resize");
    }
}